.intro {
    background-color: $color-grey;
    .intro__container {
        @include section-padding;
        .intro__left,
        .intro__right {
            margin-top: $mg-up-3;
            height: 350px;
            position: relative;
            background-size: cover;
            background-position: center center;
            background-clip: content-box;
            animation-duration: 1s;
            margin-bottom: $mg-2;
        }
        .intro__left {
            background-color: $color-black;
            background-image: url('../img/our-vehicle-intro-1.jpg');
            .intro__left__content {
                color: $color-white;
                text-align: center;
                position: absolute;
                bottom: 7%;
                font-size: $font-size-1;
                h4 {
                    font-weight: $font-weight-bold;
                    margin-bottom: $mg-2;
                    font-size: $font-size-2;
                }
                p {
                    font-weight: $font-weight-300;
                    margin-bottom: $mg-3;
                    padding-right: $pd-2;
                }
            }
        }
        .intro__right {
            background-image: url('../img/our-vehicles-intro-2.jpg');
            .intro__right__content {
                color: $color-white;
                position: absolute;
                top: 30%;
                left: 5%;
                font-size: $font-size-2;
                width: 40%;
                h4 {
                    font-weight: $font-weight-bold;
                    margin-bottom: $mg-2;
                    background: rgba(0, 67, 108, 0.8);
                    padding: $pd-1 $pd-2;
                    display: inline-block;
                    font-size: $font-size-2;
                }
                p {
                    font-weight: $font-weight-bold;
                    margin-bottom: $mg-3;
                }
            }
        }
    }
}